PORT = 8000

MONGODB_URI = mongodb+srv://username:your_password@cluster0.bvee3.mongodb.net
CORS_ORIGIN = *

ACCESS_TOKEN_SECRET = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiINTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c

ACCESS_TOKEN_EXPIRY = 1d

REFRESH_TOKEN_SECRET = knefkjhihghhnhgfyhyyn2u4xgwxhx

REFRESH_TOKEN_EXPIRY = 7d


CLOUDINARY_CLOUD_NAME = ........

CLOUDINARY_API_KEY= 955454545775554

CLOUDINARY_API_SECRET= gghcgcvggc84lklkjST87txK6lRK654